* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
}

h1 {
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    color: aquamarine;
    text-align: center;
}

header {
    width: 100%;
    display: table;
    background-color: coral;
    margin-bottom: 50px;
}

#logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: blue;
    padding: 20px 0px;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: azure;
    font-size: 10px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5 ease 0s;
}

nav ul li a:hover {
    background-color: aliceblue;
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
    color: #fde428;
}
