@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Anatolian+Hieroglyphs&display=swap');

:root {
    --primary-color: #f9f9f9;
    --border-radius: 5px;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}